/*@import "./normalize.css";*/

body {
    padding: 0;
    margin: 0;
    font-family: SansSerif;
    box-sizing: border-box;
}

body {
  background: url("../img/bg.jpg") no-repeat top center;
  line-height: 1.15;
}
