/*声明字体*/
@font-face {
  font-family: electronicFont;
  src: url("../font/DS-DIGIT.TTF");
}

li {
  list-style: none;
}

.ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.digital {
  background-color: rgba(101,132,226,0.01);
  padding: 0;
  margin: 0;
}

.value {
  border: 1px solid rgba(25,186,139,0.01);
  /*line-height: 60px;*/
  /*font-size: 70px;*/
  text-align: left;
  color: #ffeb7b;
  font-family: "electronicFont";
}

.unit {
  border: 1px solid rgba(25,186,139,0.01);
  /*line-height: 60px;*/
  /*font-size: 30px;*/
  color: #636348;
  font-family: "electronicFont";
}

.prompt {
  /*border: solid rgba(25,186,139,0.17);*/
  border-bottom-width: unset;
  border-top-width: unset;
  border-right-width: 1px;
  border-left-style: solid;
  border-color: rgba(25,186,139,0.01);
  text-align: center;
  line-height: 20px;
  /*font-size: 15px;*/
  color: rgba(246, 239, 239, 0.7);
}


/*.prompt {*/
/*  border: 1px solid rgba(25,186,139,0.17);*/
/*  text-align: left;*/
/*  color: rgba(255,255,255,0.7);*/
/*  font-size: 18px;*/
/*  height: 40px;*/
/*  line-height: 40px;*/
/*}*/


.value:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.unit:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}

